/* Sombra de la p치gina de contacto */
.shadow {
    background-color: rebeccapurple;
    -webkit-box-shadow: 80px 66px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 80px 66px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 80px 66px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Margen inferior del bot칩n*/
button {
    margin-bottom: 15px;
}

.title {
    text-align: center; /* Centra el texto */
    font-size: 36px; /* Tama침o de fuente */
    color: #ff5733; /* Color del texto */
    background-color: #f0f0f0; /* Color de fondo */
    padding: 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Esto asegura que el contenedor ocupe toda la altura de la ventana gr치fica */
}
